<%= form_with(model: word, local: true) do |form| %>
  <% if word.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(word.errors.count, "error") %> prohibited this word from being saved:</h2>

      <ul>
      <% word.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :word %>
    <%= form.text_field :word, id: :word_word %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :word_title %>
  </div>

  <div class="field">
    <%= form.label :creation_date %>
    <%= form.datetime_select :creation_date, id: :word_creation_date %>
  </div>

  <div class="field">
    <%= form.label :published %>
    <%= form.check_box :published, id: :word_published %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :word_content %>
  </div>

  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author, id: :word_author %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
